@import 'https://fonts.googleapis.com/css?family=Lato|Material+Icons';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  text-align: center;
  font-family: Lato;
  background: #000;
}
