<div *ngIf="movie" class="container">
  <div class="inner">
    <div class="front" [style.backgroundImage]="'url(' + movie.Poster + ')'">
      <div class="preview" *ngIf="movie.favorite">
        <div class="corner"></div>
        <mat-icon class="fav">favorite</mat-icon>
      </div>
    </div>

    <div class="back">
      <div class="content">
        <h2>{{ movie.Title }}</h2>
        <span class="year">{{ movie.Year }}</span>
        <section class="actions">
          <mat-icon (click)="toggleFavorite(movie)" [class.active]="movie.favorite"
            >favorite</mat-icon
          >
          <bar-rating [(rate)]="rating" [max]="5"></bar-rating>
        </section>
      </div>
      <div class="cover" [style.backgroundImage]="'url(' + movie.Poster + ')'"></div>
    </div>
  </div>
</div>
